@page "/counter"
@using System.Threading

<h1>Counter</h1>


<p>
    Current count: 
    <span class="@backgroundColor">@currentCount</span>
</p>
<br><br>
<p>
    <input type="number"  @bind="@increment"/>
    <button class="btn btn-primary" disabled="@(currentCount >= 10)"  @onclick="IncrementCount"> Click me </button>
</p>
<br><br>
<button class="btn btn-secondary" @onclick="AutoIncrement">Auto Increment</button>



@code {
    string backgroundColor = "red-background";
    private int currentCount = 0;
    private int increment = 1;

    private void IncrementCount() {
        Console.WriteLine("++");
        currentCount += increment;
        backgroundColor = (currentCount % 2 == 0) ?
            "red-background" : "yellow-background";
    }
    private void AutoIncrement() {
        var timer = new System.Threading.Timer(
            callback: (_) =>{ IncrementCount();this.StateHasChanged();}, state : null,
            dueTime : TimeSpan.FromSeconds(1), period : TimeSpan.FromSeconds(1));
    }
}

