@page "/counter"

<h1>Counter</h1>

<p>Current count:<span class="@backgroundColor">@currentCount</span></p>
<button disabled="@(currentCount >= 10)" class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    string backgroundColor = "red-background";

    private void IncrementCount() {
        currentCount++;
        backgroundColor = (currentCount % 2 == 0) ? "red-background" : "yellow-background";
    }
}

