@page "/"

<h1>Hello, world!</h1>

<Alert Show="@ShowAlert">
    <span class="oi oi-check mr-2" aria-hidden="true"></span>
    <strong>Blazor is soo cool!</strong>
</Alert>

<button class="btn btn-secondary" @onclick="@ToggleAlert"> Toggle </button>
<DismissableAlert @ref="alert" @bind-Show="@ShowAlert" >
     <span class="oi oi-check mr-2" aria-hidden="true"></span>
    <strong>Blazor is soo cool!</strong>
</DismissableAlert>
<SurveyPrompt Title="How is Blazor working for you?" />

<GrandMother>
    <GrandChild/>
    <DismissableAlert Show="true">
        <GrandChild/>
    </DismissableAlert>

</GrandMother>

@code{

    @* private bool showAlert = true; *@
    private DismissableAlert alert;
    public bool ShowAlert{get;set;}= true;


    @* public bool ShowAlert {
        get => showAlert;
        set {
            if (value != showAlert) {
                System.Console.WriteLine("Value Changed!");
                showAlert = value;
            }
        }
    } *@

    public void ToggleAlert() => ShowAlert = !ShowAlert;
}