@page "/"

<h1>Hello, world!</h1>

<Alert Show="@ShowAlert">
    <span class="oi oi-check mr-2" aria-hidden="true"></span>
    <strong>Blazor is soo cool!</strong>
</Alert>

<button class="btn btn-secondary" @onclick="@ToggleAlert"> Toggle </button>
<DismissableAlert @bind-Show="@ShowAlert" >
     <span class="oi oi-check mr-2" aria-hidden="true"></span>
    <strong>Blazor is soo cool!</strong>
</DismissableAlert>
<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    public bool ShowAlert { get; set; } = true;

    public  void ToggleAlert()=>ShowAlert = !ShowAlert;
}